body {
    width: 1440px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    font-size: 16px;

}

.head {
    width: 1440px;
    height: 100px;
    background-color: hsl(0, 0%, 98%);
    margin: auto;
}

.logo {
    width: 200px;
    height: 50px;
    float: left;
    position: relative;
    left: 170px;


    padding: 40px 10px 10px 20px;
}

#link {
    width: 550px;
    height: 50px;
    float: right;
    padding: 40px 10px 10px 20px;
    text-decoration: none;
    position: relative;
    right: 100px;
}







a {
    color: hsl(273, 4%, 51%);
    text-decoration: none;
    padding: 30px 10px 20px 20px;

}

a:hover {
    color: rgb(45, 38, 64);
}

#a-link {
    border: 1px black solid;
    width: 50px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    color: hsl(256, 26%, 20%);
}

#a-link:hover {
    font-weight: bold;
    color: white;
    background-color: hsl(256, 26%, 20%);


}


#bg-img {
    background-color: rgb(45, 38, 64);
    width: 1440px;
    height: 400px;
    margin: auto;
    background-image: url(bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -100px;
    background-size: 400px;
}

#p {
    width: 500px;
    height: 300px;

    position: relative;
    top: 30px;
    left: 100px;

}

#line {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#hh1 {
    font-size: 250%;
    color: white;
    position: relative;
    top: 50px;
    left: -100px;
    bottom: 20px;
}

#headp {
    position: relative;
    top: 50px;
    left: 100px;
    color: white;
    font-size: medium;

}

.ll {
    border: 1px white solid;
    width: 100px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 20px;
    margin: 100px;
    position: relative;
    top: 70px;
}

.ll:hover {
    color: rgb(45, 38, 64);
    background-color: white;
}

#body {
    width: 1440px;
    height: 1410px;
    border: black solid 1px;
    margin: auto;
    background-image: url(bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: -170px;


}

#img {
    width: 400px;
    height: 480px;
    background-image: url(image-intro-desktop.jpg);
    background-size: 400px;
    position: relative;
    top: -350px;
    left: 800px;

}

#line-p {
    width: 100px;
    height: 5px;
    position: relative;
    left: 200px;
    top: -145px;
}

#p-div {
    width: 1050px;
    height: 100px;
    margin: auto;

    position: relative;
    top: -100px;
    left: 10px;

}

#hh {
    font-size: 500%;
    margin-top: -10px;
}

.t-div1 {
    width: 300px;
    height: 300px;

    margin-left: 200px;
}

.t-div2 {
    width: 320px;
    height: 300px;

    margin: auto;
    margin-top: -300px;
}

.t-div3 {
    width: 300px;
    height: 300px;

    margin-left: 940px;
    margin-top: -300px;
}

.pr {
    font-size: medium;
    color: hsl(273, 4%, 51%);
}


#footer {

    width: 1050px;
    height: 150px;
    margin: auto;

    position: relative;
    top: -50px;
    left: 10px;
    background-color: rgb(45, 38, 64);
    background-image: url(bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;

}


.l {
    border: 1px white solid;
    width: 50px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    color: white;
    position: relative;
    top: -30px;
    left: 800px;
}

.l:hover {
    color: rgb(45, 38, 64);
    background-color: white;
}

#footer2 {
    width: 1440px;
    height: 350px;
    background-color: hsl(0, 0%, 98%);

    background-image: url(bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    float: left;
}

#linef {
    margin: auto;
    color: hsl(273, 4%, 51%);
    margin-top: 100px;
}

#icon {

    float: right;
    margin-top: -50px;
    margin-right: 200px;
}


.aa img{
    transition: all 0.3s ease-in-out;
    
}

.aa img:hover {
    filter: brightness(0);
   
}




.link1 {
    width: 200px;
    height: 200px;

    position: relative;
    left: 200px;
}

.link2 {
    width: 200px;
    height: 200px;

    position: relative;
    left: 450px;
    top: -210px;
}

.link3 {
    width: 200px;
    height: 200px;

    position: relative;
    left: 700px;
    top: -430px;
}

.link4 {
    width: 200px;
    height: 200px;

    position: relative;
    left: 950px;
    top: -650px;


}

h3 {
    margin-left: 20px;
    color: hsl(273, 4%, 51%);
    font-weight: bold;
}



.linkf {
    color: rgb(45, 38, 64);
    font-weight: bold;

}

.linkf:hover {
    text-decoration: underline;
}
